In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('data.csv')

In [9]:
len(data)

736

In [10]:
data.tail(5)

     Unnamed: 0  OBA  OOBP  OSLG   W  RA   R  AVG  OBP  SLG
731         235  NaN   NaN   NaN NaN NaN NaN  NaN  NaN  NaN
732         236  NaN   NaN   NaN NaN NaN NaN  NaN  NaN  NaN
733         237  NaN   NaN   NaN NaN NaN NaN  NaN  NaN  NaN
734         238  NaN   NaN   NaN NaN NaN NaN  NaN  NaN  NaN
735         239  NaN   NaN   NaN NaN NaN NaN  NaN  NaN  NaN

In [11]:
data = data.dropna()

In [13]:
data.tail(5)

     Unnamed: 0    OBA   OOBP   OSLG     W     RA      R    AVG    OBP    SLG
235          12  0.270  0.339  0.423  64.0  890.0  582.0  0.240  0.294  0.388
236          13  0.246  0.310  0.403  47.0  915.0  589.0  0.237  0.303  0.357
237          14  0.238  0.310  0.364  64.0  894.0  615.0  0.241  0.298  0.375
238          15  0.263  0.327  0.399  71.0  958.0  535.0  0.226  0.292  0.342
239          16  0.261  0.326  0.414  54.0  981.0  513.0  0.231  0.293  0.335

In [15]:
data.to_csv('real_data.csv')