In [82]:
import requests
import lxml.html as lh
import pandas as pd

In [83]:
url = 'https://sabr.org/bioproj/topic/baseball-demographics-1947-2016/'

In [84]:
page = requests.get(url)

In [85]:
doc = lh.fromstring(page.content)

In [86]:
tr_elements = doc.xpath('//tr')

In [87]:
columns = []
i = 0

for t in tr_elements[0]:
    i += 1
    name = t.text_content()
    print('%d:"%s"'%(i,name))
    columns.append((name,[]))

1:"Year"
2:"White "
3:"AfricanAmericans"
4:"Latino"
5:"Asian"

In [133]:
for j in range(1, len(tr_elements)):
    T = tr_elements[j]

    # if len(T) != 5:
    #     break

    i=0

    for t in T.iterchildren():
        data = t.text_content()

        if i > 0:
            try:
                data = int(data)
            except:
                pass
        columns[i][1].append(data)
        i += 1

In [134]:
[len(C) for (title, C) in columns]

[282, 282, 282, 282, 282]

In [135]:
Dict={title:column for (title, column) in columns}

In [136]:
df1 = pd.DataFrame(Dict)

In [137]:
df1.to_csv('test')

In [138]:
df = df1.iloc[:70]

In [139]:
df.head()

   Year White  AfricanAmericans Latino Asian
0  1947  98.3%             0.9%   0.7%  0.0%
1  1948  98.5%             0.7%   0.7%  0.0%
2  1949  96.6%             1.5%   1.9%  0.0%
3  1950  95.3%             1.7%   3.0%  0.0%
4  1951  94.3%             2.9%   2.8%  0.0%

In [142]:
df2 = df1.iloc[71:]

In [143]:
df2.head()

    Year White  AfricanAmericans Latino Asian
71  1947  99.9%             0.4%  -0.3%  0.0%
72  1948  97.6%             2.6%  -0.2%  0.0%
73  1949  93.9%             5.4%   0.7%  0.0%
74  1950  91.0%             7.2%   1.7%  0.0%
75  1951  86.7%             8.8%   4.5%  0.0%