In [91]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

from sklearn import linear_model

In [48]:
player_info = pd.read_csv('player_data.csv')

In [49]:
player_info = player_info.drop(columns=['Team', 'Season'])

In [50]:
player_info.columns

Index(['Name', 'PA', 'Age', 'BB%', 'K%', 'ISO', 'BABIP', 'AVG', 'OBP', 'SLG',
       'OPS', 'playerid'],
      dtype='object')

In [51]:
player_info.head(5)

,Name,PA,Age,BB%,K%,ISO,BABIP,AVG,OBP,SLG,OPS,playerid
0,Juan Soto,196,21,20.9%,14.3%,0.344,0.363,0.351,0.490,0.695,1.185,20123
1,Bryce Harper,654,22,19.0%,20.0%,0.319,0.369,0.330,0.460,0.649,1.109,11579
2,Freddie Freeman,262,30,17.2%,14.1%,0.299,0.366,0.341,0.462,0.640,1.102,5361
3,Miguel Cabrera,652,30,13.8%,14.4%,0.288,0.356,0.348,0.442,0.636,1.078,1744
4,Mookie Betts,614,25,13.2%,14.8%,0.294,0.368,0.346,0.438,0.640,1.078,13611

In [52]:
player_info = player_info.rename(columns={'BB%':'BB', 'K%':'K'})

In [53]:
player_info.head(5)

,Name,PA,Age,BB,K,ISO,BABIP,AVG,OBP,SLG,OPS,playerid
0,Juan Soto,196,21,20.9%,14.3%,0.344,0.363,0.351,0.490,0.695,1.185,20123
1,Bryce Harper,654,22,19.0%,20.0%,0.319,0.369,0.330,0.460,0.649,1.109,11579
2,Freddie Freeman,262,30,17.2%,14.1%,0.299,0.366,0.341,0.462,0.640,1.102,5361
3,Miguel Cabrera,652,30,13.8%,14.4%,0.288,0.356,0.348,0.442,0.636,1.078,1744
4,Mookie Betts,614,25,13.2%,14.8%,0.294,0.368,0.346,0.438,0.640,1.078,13611

In [54]:
player_info['BB'] = player_info['BB'].str.replace('%', '')

In [55]:
player_info.head(5)

,Name,PA,Age,BB,K,ISO,BABIP,AVG,OBP,SLG,OPS,playerid
0,Juan Soto,196,21,20.9,14.3%,0.344,0.363,0.351,0.490,0.695,1.185,20123
1,Bryce Harper,654,22,19.0,20.0%,0.319,0.369,0.330,0.460,0.649,1.109,11579
2,Freddie Freeman,262,30,17.2,14.1%,0.299,0.366,0.341,0.462,0.640,1.102,5361
3,Miguel Cabrera,652,30,13.8,14.4%,0.288,0.356,0.348,0.442,0.636,1.078,1744
4,Mookie Betts,614,25,13.2,14.8%,0.294,0.368,0.346,0.438,0.640,1.078,13611

In [56]:
player_info['K'] = player_info['K'].str.replace('%', '')

In [57]:
player_info.head(5)

,Name,PA,Age,BB,K,ISO,BABIP,AVG,OBP,SLG,OPS,playerid
0,Juan Soto,196,21,20.9,14.3,0.344,0.363,0.351,0.490,0.695,1.185,20123
1,Bryce Harper,654,22,19.0,20.0,0.319,0.369,0.330,0.460,0.649,1.109,11579
2,Freddie Freeman,262,30,17.2,14.1,0.299,0.366,0.341,0.462,0.640,1.102,5361
3,Miguel Cabrera,652,30,13.8,14.4,0.288,0.356,0.348,0.442,0.636,1.078,1744
4,Mookie Betts,614,25,13.2,14.8,0.294,0.368,0.346,0.438,0.640,1.078,13611

In [116]:
player_info['K'] = player_info['K'].astype(float)

In [118]:
player_info['BB'] = player_info['BB'].astype(float)

In [119]:
player_info.dtypes

Name         object
PA            int64
Age           int64
BB          float64
K           float64
ISO         float64
BABIP       float64
AVG         float64
OBP         float64
SLG         float64
OPS         float64
playerid      int64
dtype: object

In [58]:
y = player_info.OPS

In [69]:
player_features = ['PA', 'Age', 'BB', 'K', 'ISO', 'BABIP', 'AVG', 'OBP', 'SLG']

In [70]:
X = player_info[player_features]

In [71]:
ops_model = DecisionTreeRegressor(random_state = 1)

In [72]:
ops_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [73]:
X.head(10)

    PA  Age    BB     K    ISO  BABIP    AVG    OBP    SLG
0  196   21  20.9  14.3  0.344  0.363  0.351  0.490  0.695
1  654   22  19.0  20.0  0.319  0.369  0.330  0.460  0.649
2  262   30  17.2  14.1  0.299  0.366  0.341  0.462  0.640
3  652   30  13.8  14.4  0.288  0.356  0.348  0.442  0.636
4  614   25  13.2  14.8  0.294  0.368  0.346  0.438  0.640
5  608   26  20.1  20.4  0.316  0.346  0.312  0.460  0.628
6  571   29   7.5  16.6  0.274  0.390  0.359  0.411  0.633
7  267   29  14.2  22.5  0.298  0.391  0.338  0.431  0.636
8  655   30  20.2  16.9  0.306  0.309  0.302  0.447  0.608
9  580   27  13.8  20.3  0.342  0.355  0.329  0.429  0.671

In [80]:
# Test predictions for 10 OPS


print('Predictions:')
test_predict = ops_model.predict(X)

print(test_predict)

Predictions:
[1.185 1.109 1.102 ... 0.545 0.559 0.539]

In [81]:
mean_absolute_error(y, test_predict)

2.933648626431711e-18

In [86]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=0)

In [87]:
ops_model = DecisionTreeRegressor()

In [88]:
ops_model.fit(train_X, train_y)

DecisionTreeRegressor()

In [89]:
val_predictions = ops_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

0.005723004694835684

In [90]:
X = player_info[['PA', 'Age', 'BB', 'K', 'ISO', 'BABIP', 'AVG', 'OBP', 'SLG']]

y = player_info['OPS']

In [92]:
ops_reg_model = linear_model.LinearRegression()
ops_reg_model.fit(X, y)

LinearRegression()

In [131]:
#player_info.PA.mean()
#player_info.Age.mean()
#player_info.BB.mean()
#player_info.K.mean()
#player_info.ISO.mean()
#player_info.BABIP.mean()
#player_info.AVG.mean()
player_info.OBP.mean()
#player_info.SLG.mean()

0.3390264239577217

In [135]:
X = player_info[['ISO', 'OBP']]
y = player_info['OPS']

regr = linear_model.LinearRegression()
regr.fit(X, y)

test_predict = ops_reg_model.predict([['.178,' '.339']])

/opt/homebrew/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/opt/homebrew/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

ValueError: Unable to convert array of bytes/strings into decimal numbers with dtype='numeric'

In [102]:
y.head(-5)

0       1.185
1       1.109
2       1.102
3       1.078
4       1.078
        ...
1693    0.599
1694    0.587
1695    0.552
1696    0.568
1697    0.569
Name: OPS, Length: 1698, dtype: float64

In [100]:
print(test_predict)

[1.18497052 1.10896966 1.10199179 ... 0.54499838 0.55903691 0.5390066 ]