In [17]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [94]:
iso_70_75 = pd.read_csv('1970-75.csv')
df = pd.DataFrame()

iso = iso_70_75.ISO

df.insert(0, 'ISO', iso)
df.ISO = df.ISO.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)

iso_70_75 = df
iso_70_75.head()

        ISO
0  0.117833

In [96]:
iso_76_80 = pd.read_csv('1976-80.csv')
df = pd.DataFrame()

iso = iso_76_80.ISO

df.insert(0, 'ISO', iso)
df.ISO = df.ISO.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)

iso_76_80 = df
iso_76_80.head()

      ISO
0  0.1238

In [97]:
iso_81_85 = pd.read_csv('1981-85.csv')
df = pd.DataFrame()

iso = iso_81_85.ISO

df.insert(0, 'ISO', iso)
df.ISO = df.ISO.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)

iso_81_85 = df
iso_81_85.head()

      ISO
0  0.1256

In [98]:
iso_86_90 = pd.read_csv('1986-90.csv')
df = pd.DataFrame()

iso = iso_86_90.ISO

df.insert(0, 'ISO', iso)
df.ISO = df.ISO.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)

iso_86_90 = df
iso_86_90.head()

      ISO
0  0.1322

In [99]:
iso_91_95 = pd.read_csv('1991-95.csv')
df = pd.DataFrame()

iso = iso_91_95.ISO

df.insert(0, 'ISO', iso)
df.ISO = df.ISO.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)

iso_91_95 = df
iso_91_95.head()

      ISO
0  0.1388

In [101]:
iso_96_00= pd.read_csv('1996-00.csv')
df = pd.DataFrame()

iso = iso_96_00.ISO

df.insert(0, 'ISO', iso)
df.ISO = df.ISO.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)

iso_96_00 = df
iso_96_00.head()

      ISO
0  0.1586

In [102]:
iso_01_05= pd.read_csv('2001-05.csv')
df = pd.DataFrame()

iso = iso_01_05.ISO

df.insert(0, 'ISO', iso)
df.ISO = df.ISO.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)

iso_01_05 = df
iso_01_05.head()

      ISO
0  0.1584

In [103]:
iso_06_10= pd.read_csv('2006-10.csv')
df = pd.DataFrame()

iso = iso_06_10.ISO

df.insert(0, 'ISO', iso)
df.ISO = df.ISO.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)

iso_06_10 = df
iso_06_10.head()

     ISO
0  0.154

In [104]:
iso_11_15 = pd.read_csv('2011-15.csv')
df = pd.DataFrame()

iso = iso_11_15.ISO

df.insert(0, 'ISO', iso)
df.ISO = df.ISO.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)

iso_11_15 = df
iso_11_15.head()

      ISO
0  0.1446

In [105]:
iso_16_21 = pd.read_csv('2016-21.csv')
df = pd.DataFrame()

iso = iso_16_21.ISO

df.insert(0, 'ISO', iso)
df.ISO = df.ISO.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)

iso_16_21 = df
iso_16_21.head()

      ISO
0  0.1695

In [106]:
iso_data = pd.concat([iso_70_75, iso_76_80, iso_81_85, iso_86_90, iso_91_95, iso_96_00, iso_01_05, iso_06_10, iso_11_15, iso_16_21])

In [107]:
iso_data

        ISO
0  0.117833
0  0.123800
0  0.125600
0  0.132200
0  0.138800
0  0.158600
0  0.158400
0  0.154000
0  0.144600
0  0.169500

In [108]:
test_iso_data = iso_data

In [109]:
test_iso_data['ISO'] = test_iso_data['ISO'].replace([test_iso_data['ISO'].iloc[0]], '.117')
test_iso_data['ISO'] = test_iso_data['ISO'].replace([test_iso_data['ISO'].iloc[1]], '.123')
test_iso_data['ISO'] = test_iso_data['ISO'].replace([test_iso_data['ISO'].iloc[2]], '.125')
test_iso_data['ISO'] = test_iso_data['ISO'].replace([test_iso_data['ISO'].iloc[3]], '.132')
test_iso_data['ISO'] = test_iso_data['ISO'].replace([test_iso_data['ISO'].iloc[4]], '.138')
test_iso_data['ISO'] = test_iso_data['ISO'].replace([test_iso_data['ISO'].iloc[5]], '.159')
test_iso_data['ISO'] = test_iso_data['ISO'].replace([test_iso_data['ISO'].iloc[6]], '.158')
test_iso_data['ISO'] = test_iso_data['ISO'].replace([test_iso_data['ISO'].iloc[7]], '.154')
test_iso_data['ISO'] = test_iso_data['ISO'].replace([test_iso_data['ISO'].iloc[8]], '.144')
test_iso_data['ISO'] = test_iso_data['ISO'].replace([test_iso_data['ISO'].iloc[9]], '.169')

In [110]:
test_iso_data

    ISO
0  .117
0  .123
0  .125
0  .132
0  .138
0  .159
0  .158
0  .154
0  .144
0  .169

In [111]:
years = ['1970-1975', '1976-1980', '1981-1985', '1986-1990', '1991-1995', '1996-2000', '2001-2005', '2006-2010', '2011-2015', '2016-2021']

In [112]:
test_iso_data.insert(0, 'Years', years)

In [113]:
test_iso_data

       Years   ISO
0  1970-1975  .117
0  1976-1980  .123
0  1981-1985  .125
0  1986-1990  .132
0  1991-1995  .138
0  1996-2000  .159
0  2001-2005  .158
0  2006-2010  .154
0  2011-2015  .144
0  2016-2021  .169

In [114]:
test_iso_data.set_index('Years')

            ISO
Years
1970-1975  .117
1976-1980  .123
1981-1985  .125
1986-1990  .132
1991-1995  .138
1996-2000  .159
2001-2005  .158
2006-2010  .154
2011-2015  .144
2016-2021  .169

In [116]:
test_iso_data = test_iso_data.reset_index(drop=True)

In [117]:
test_iso_data

       Years   ISO
0  1970-1975  .117
1  1976-1980  .123
2  1981-1985  .125
3  1986-1990  .132
4  1991-1995  .138
5  1996-2000  .159
6  2001-2005  .158
7  2006-2010  .154
8  2011-2015  .144
9  2016-2021  .169

In [118]:
test_iso_data.set_index('Years', inplace=True)

In [119]:
test_iso_data

            ISO
Years
1970-1975  .117
1976-1980  .123
1981-1985  .125
1986-1990  .132
1991-1995  .138
1996-2000  .159
2001-2005  .158
2006-2010  .154
2011-2015  .144
2016-2021  .169

In [120]:
iso_data = test_iso_data

In [121]:
iso_data.to_csv('iso_data.csv')