In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
from pybaseball import batting_stats

In [62]:
tto_70_75 = pd.read_csv('1970-75.csv')
df = pd.DataFrame()
tto_70_75 = tto_70_75.rename(columns={'BB%':'BBper', 'K%':'Kper'})
tto_70_75 = tto_70_75.replace('%', '', regex=True)
tto_70_75 = tto_70_75.astype('float64')
HRper = tto_70_75.HR / tto_70_75.PA
BBper = tto_70_75.BBper.mean()
Kper = tto_70_75.Kper.mean()
df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)
df.HRper = df.HRper.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)
tto_70_75 = df
tto_70_75.head(10)

      HRper     BBper       Kper
0  0.019565  8.766667  13.983333

In [63]:
tto_76_80 = pd.read_csv('1976-80.csv')
df = pd.DataFrame()
tto_76_80 = tto_76_80.rename(columns={'BB%':'BBper', 'K%':'Kper'})
tto_76_80 = tto_76_80.replace('%', '', regex=True)
tto_76_80 = tto_76_80.astype('float64')
HRper = tto_76_80.HR / tto_76_80.PA
BBper = tto_76_80.BBper.mean()
Kper = tto_76_80.Kper.mean()
df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)
df.HRper = df.HRper.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)
tto_76_80 = df
tto_76_80.head(10)

      HRper  BBper   Kper
0  0.019365   8.42  12.74

In [65]:
tto_81_85 = pd.read_csv('1981-85.csv')
df = pd.DataFrame()
tto_81_85 = tto_81_85.rename(columns={'BB%':'BBper', 'K%':'Kper'})
tto_81_85 = tto_81_85.replace('%', '', regex=True)
tto_81_85 = tto_81_85.astype('float64')
HRper = tto_81_85.HR / tto_81_85.PA
BBper = tto_81_85.BBper.mean()
Kper = tto_81_85.Kper.mean()
df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)
df.HRper = df.HRper.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)
tto_81_85 = df
tto_81_85.head(10)

      HRper  BBper   Kper
0  0.020221    8.4  13.44

In [66]:
tto_86_90 = pd.read_csv('1986-90.csv')
df = pd.DataFrame()
tto_86_90= tto_86_90.rename(columns={'BB%':'BBper', 'K%':'Kper'})
tto_86_90 = tto_86_90.replace('%', '', regex=True)
tto_86_90 = tto_86_90.astype('float64')
HRper = tto_86_90.HR / tto_86_90.PA
BBper = tto_86_90.BBper.mean()
Kper = tto_86_90.Kper.mean()
df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)
df.HRper = df.HRper.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)
tto_86_90 = df
tto_86_90.head(10)

      HRper  BBper   Kper
0  0.022229   8.58  15.06

In [67]:
tto_91_95 = pd.read_csv('1991-95.csv')
df = pd.DataFrame()
tto_91_95= tto_91_95.rename(columns={'BB%':'BBper', 'K%':'Kper'})
tto_91_95 = tto_91_95.replace('%', '', regex=True)
tto_91_95 = tto_91_95.astype('float64')
HRper = tto_91_95.HR / tto_91_95.PA
BBper = tto_91_95.BBper.mean()
Kper = tto_91_95.Kper.mean()
df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)
df.HRper = df.HRper.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)
tto_91_95 = df
tto_91_95.head(10)

      HRper  BBper   Kper
0  0.023131   8.78  15.42

In [69]:
tto_96_00 = pd.read_csv('1996-00.csv')
df = pd.DataFrame()
tto_96_00= tto_96_00.rename(columns={'BB%':'BBper', 'K%':'Kper'})
tto_96_00 = tto_96_00.replace('%', '', regex=True)
tto_96_00 = tto_96_00.astype('float64')
HRper = tto_96_00.HR / tto_96_00.PA
BBper = tto_96_00.BBper.mean()
Kper = tto_96_00.Kper.mean()
df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)
df.HRper = df.HRper.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)
tto_96_00 = df
tto_96_00.head(10)

      HRper  BBper   Kper
0  0.028077   9.14  16.68

In [70]:
tto_01_05 = pd.read_csv('2001-05.csv')
df = pd.DataFrame()
tto_01_05= tto_01_05.rename(columns={'BB%':'BBper', 'K%':'Kper'})
tto_01_05 = tto_01_05.replace('%', '', regex=True)
tto_01_05 = tto_01_05.astype('float64')
HRper = tto_01_05.HR / tto_01_05.PA
BBper = tto_01_05.BBper.mean()
Kper = tto_01_05.Kper.mean()
df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)
df.HRper = df.HRper.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)
tto_01_05 = df
tto_01_05.head(10)

      HRper  BBper   Kper
0  0.027984    8.5  16.76

In [71]:
tto_06_10 = pd.read_csv('2006-10.csv')
df = pd.DataFrame()
tto_06_10= tto_06_10.rename(columns={'BB%':'BBper', 'K%':'Kper'})
tto_06_10 = tto_06_10.replace('%', '', regex=True)
tto_06_10 = tto_06_10.astype('float64')
HRper = tto_06_10.HR / tto_06_10.PA
BBper = tto_06_10.BBper.mean()
Kper = tto_06_10.Kper.mean()
df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)
df.HRper = df.HRper.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)
tto_06_10 = df
tto_06_10.head(10)

      HRper  BBper   Kper
0  0.026546    8.6  17.58

In [72]:
tto_11_15= pd.read_csv('2011-15.csv')
df = pd.DataFrame()
tto_11_15= tto_11_15.rename(columns={'BB%':'BBper', 'K%':'Kper'})
tto_11_15= tto_11_15.replace('%', '', regex=True)
tto_11_15 = tto_11_15.astype('float64')
HRper = tto_11_15.HR / tto_11_15.PA
BBper = tto_11_15.BBper.mean()
Kper = tto_11_15.Kper.mean()
df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)
df.HRper = df.HRper.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)
tto_11_15 = df
tto_11_15.head(10)

      HRper  BBper   Kper
0  0.025213   7.86  19.82

In [73]:
tto_16_21= pd.read_csv('2016-21.csv')
df = pd.DataFrame()
tto_16_21= tto_16_21.rename(columns={'BB%':'BBper', 'K%':'Kper'})
tto_16_21= tto_16_21.replace('%', '', regex=True)
tto_16_21 = tto_16_21.astype('float64')
HRper = tto_16_21.HR / tto_16_21.PA
BBper = tto_16_21.BBper.mean()
Kper = tto_16_21.Kper.mean()
df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)
df.HRper = df.HRper.mean()
df = df.drop(df.index.to_list()[1:], axis = 0)
tto_16_21 = df
tto_16_21.head(10)

      HRper  BBper       Kper
0  0.032862    8.6  22.433333

In [74]:
tto = pd.concat([tto_70_75, tto_76_80, tto_81_85, tto_86_90, tto_91_95, tto_96_00, tto_01_05, tto_06_10, tto_11_15, tto_16_21])

In [77]:
tto.head(10)

      HRper     BBper       Kper
0  0.019565  8.766667  13.983333
0  0.019365  8.420000  12.740000
0  0.020221  8.400000  13.440000
0  0.022229  8.580000  15.060000
0  0.023131  8.780000  15.420000
0  0.028077  9.140000  16.680000
0  0.027984  8.500000  16.760000
0  0.026546  8.600000  17.580000
0  0.025213  7.860000  19.820000
0  0.032862  8.600000  22.433333

In [138]:
tto_test = tto

In [139]:
tto_test.HRper.head(50)

0    1.95
0    1.93
0    2.02
0    2.22
0    2.31
0    2.80
0    2.79
0    2.65
0    2.52
0    3.28
Name: HRper, dtype: object

In [140]:
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[0]], '1.95')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[1]], '1.93')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[2]], '2.02')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[3]], '2.22')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[4]], '2.31')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[5]], '2.80')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[6]], '2.79')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[7]], '2.65')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[8]], '2.52')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[9]], '3.28')

In [141]:
tto_test

  HRper     BBper       Kper
0  1.95  8.766667  13.983333
0  1.93  8.420000  12.740000
0  2.02  8.400000  13.440000
0  2.22  8.580000  15.060000
0  2.31  8.780000  15.420000
0  2.80  9.140000  16.680000
0  2.79  8.500000  16.760000
0  2.65  8.600000  17.580000
0  2.52  7.860000  19.820000
0  3.28  8.600000  22.433333

In [93]:
list = [1, 2, 3, 4, 5]
list[2:]

[3, 4, 5]

In [130]:
tto_test

  HRper     BBper       Kper
0  1.95  8.766667  13.983333
0  1.93  8.420000  12.740000
0  2.02  8.400000  13.440000
0  2.22  8.580000  15.060000
0  2.31  8.780000  15.420000
0  2.80  9.140000  16.680000
0  2.79  8.500000  16.760000
0  2.65  8.600000  17.580000
0  2.52  7.860000  19.820000
0  3.28  8.600000  22.433333

In [142]:
tto_test = tto_test.astype('str')

In [143]:
tto_test.BBper = tto_test.BBper.str[:5]
tto_test.Kper = tto_test.Kper.str[:5]

In [144]:
tto_test.head(10)

  HRper  BBper   Kper
0  1.95  8.766  13.98
0  1.93  8.419  12.74
0  2.02  8.400  13.44
0  2.22  8.580  15.05
0  2.31   8.78  15.41
0  2.80   9.14  16.68
0  2.79    8.5  16.76
0  2.65    8.6  17.58
0  2.52  7.860  19.82
0  3.28  8.600  22.43

In [147]:
tto_test.BBper.iloc[0] = tto_test.BBper.iloc[0] = '8.76'
tto_test.BBper.iloc[1] = tto_test.BBper.iloc[1] = '8.41'
tto_test.BBper.iloc[2] = tto_test.BBper.iloc[2] = '8.40'
tto_test.BBper.iloc[3] = tto_test.BBper.iloc[3] = '8.58'
tto_test.BBper.iloc[6] = tto_test.BBper.iloc[6] = '8.58'
tto_test.BBper.iloc[7] = tto_test.BBper.iloc[7] = '8.60'
tto_test.BBper.iloc[9] = tto_test.BBper.iloc[8] = '7.86'

In [150]:
tto_test.BBper.iloc[9] = tto_test.BBper.iloc[9] = '8.60'

In [151]:
tto_test

  HRper BBper   Kper
0  1.95  8.76  13.98
0  1.93  8.41  12.74
0  2.02  8.40  13.44
0  2.22  8.58  15.05
0  2.31  8.78  15.41
0  2.80  9.14  16.68
0  2.79  8.58  16.76
0  2.65  8.60  17.58
0  2.52  7.86  19.82
0  3.28  8.60  22.43

In [152]:
years = ['1970-1975', '1976-1980', '1981-1985', '1986-1990', '1991-1995', '1996-2000', '2001-2005', '2006-2010', '2011-2015', '2016-2021']

In [153]:
tto_test.insert(0, 'Years', years)

In [154]:
tto_test.head()

       Years HRper BBper   Kper
0  1970-1975  1.95  8.76  13.98
0  1976-1980  1.93  8.41  12.74
0  1981-1985  2.02  8.40  13.44
0  1986-1990  2.22  8.58  15.05
0  1991-1995  2.31  8.78  15.41

In [155]:
tto_test.set_index('Years')

          HRper BBper   Kper
Years
1970-1975  1.95  8.76  13.98
1976-1980  1.93  8.41  12.74
1981-1985  2.02  8.40  13.44
1986-1990  2.22  8.58  15.05
1991-1995  2.31  8.78  15.41
1996-2000  2.80  9.14  16.68
2001-2005  2.79  8.58  16.76
2006-2010  2.65  8.60  17.58
2011-2015  2.52  7.86  19.82
2016-2021  3.28  8.60  22.43

In [156]:
tto_test.head()

       Years HRper BBper   Kper
0  1970-1975  1.95  8.76  13.98
0  1976-1980  1.93  8.41  12.74
0  1981-1985  2.02  8.40  13.44
0  1986-1990  2.22  8.58  15.05
0  1991-1995  2.31  8.78  15.41

In [157]:
tto_test = tto_test.reset_index(drop=True)

In [158]:
tto_test.head()

       Years HRper BBper   Kper
0  1970-1975  1.95  8.76  13.98
1  1976-1980  1.93  8.41  12.74
2  1981-1985  2.02  8.40  13.44
3  1986-1990  2.22  8.58  15.05
4  1991-1995  2.31  8.78  15.41

In [159]:
tto_test.set_index('Years', inplace=True)

In [160]:
tto_test.head()

          HRper BBper   Kper
Years
1970-1975  1.95  8.76  13.98
1976-1980  1.93  8.41  12.74
1981-1985  2.02  8.40  13.44
1986-1990  2.22  8.58  15.05
1991-1995  2.31  8.78  15.41

In [66]:
tto = tto_test

In [67]:
tto.to_csv('tto_data.csv')