In [9]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [21]:
from pybaseball import batting_stats

In [83]:
tto_70_79 = batting_stats(1970, 1979, ind=0)

tto_70_79.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_70_79.HR / tto_70_79.PA
BBper = tto_70_79.BBper
Kper = tto_70_79.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_70_79 = df

tto_70_79.HRper = tto_70_79.HRper.mean()
tto_70_79.BBper = tto_70_79.BBper.mean()
tto_70_79.Kper = tto_70_79.Kper.mean()

tto_70_79 = tto_70_79.drop(tto_70_79.index.to_list()[1:], axis = 0)

tto_70_79.head()

      HRper     BBper     Kper
9  0.019404  0.087248  0.12661

In [85]:
tto_80_89 = batting_stats(1980, 1989, ind=0)

tto_80_89.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_80_89.HR / tto_80_89.PA
BBper = tto_80_89.BBper
Kper = tto_80_89.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_80_89 = df

tto_80_89.HRper = tto_80_89.HRper.mean()
tto_80_89.BBper = tto_80_89.BBper.mean()
tto_80_89.Kper = tto_80_89.Kper.mean()

tto_80_89 = tto_80_89.drop(tto_80_89.index.to_list()[1:], axis = 0)

tto_80_89.head()

       HRper     BBper      Kper
16  0.021122  0.085667  0.133446

In [86]:
tto_90_99 = batting_stats(1990, 1999, ind=0)

tto_90_99.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_90_99.HR / tto_90_99.PA
BBper = tto_90_99.BBper
Kper = tto_90_99.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_90_99 = df

tto_90_99.HRper = tto_90_99.HRper.mean()
tto_90_99.BBper = tto_90_99.BBper.mean()
tto_90_99.Kper = tto_90_99.Kper.mean()

tto_90_99 = tto_90_99.drop(tto_90_99.index.to_list()[1:], axis = 0)

tto_90_99.head()

      HRper     BBper      Kper
0  0.024588  0.088449  0.153502

In [90]:
tto_00_09 = batting_stats(2000, 2009, ind=0)

tto_00_09.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_00_09.HR / tto_00_09.PA
BBper = tto_00_09.BBper
Kper = tto_00_09.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_00_09 = df

tto_00_09.HRper = tto_00_09.HRper.mean()
tto_00_09.BBper = tto_00_09.BBper.mean()
tto_00_09.Kper = tto_00_09.Kper.mean()

tto_00_09 = tto_00_09.drop(tto_00_09.index.to_list()[1:], axis = 0)

tto_00_09.head()

      HRper    BBper      Kper
5  0.028111  0.08706  0.165614

In [91]:
tto_10_19 = batting_stats(2010, 2019, ind=0)

tto_10_19.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_10_19.HR / tto_10_19.PA
BBper = tto_10_19.BBper
Kper = tto_10_19.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_10_19 = df

tto_10_19.HRper = tto_10_19.HRper.mean()
tto_10_19.BBper = tto_10_19.BBper.mean()
tto_10_19.Kper = tto_10_19.Kper.mean()

tto_10_19 = tto_10_19.drop(tto_10_19.index.to_list()[1:], axis = 0)

tto_10_19.head()

      HRper     BBper      Kper
0  0.028765  0.082832  0.200471

In [94]:
type(tto_70_79)
# tto_80_89
# tto_90_99
# tto_00_09
# tto_10_19

pandas.core.frame.DataFrame

In [98]:
tto = pd.concat([tto_70_79, tto_80_89, tto_90_99, tto_00_09, tto_10_19])

In [150]:
tto_test = tto

In [151]:
tto_test.head()

   HRper BBper   Kper       Years
9   1.94  8.72  12.66   1970-1979
16  2.11  8.56  13.34   1980-1989
0   2.45  8.84  15.35   1990-1999
5   2.81  8.70  16.56   2000-2009
0   2.87  8.28  20.04   2010-2019

In [152]:
#df['column name'] = df['column name'].replace(['old value'],'new value')

tto_test['HRper'] = tto_test['HRper'].replace(['0.019403924125664117'], '1.94')
tto_test['HRper'] = tto_test['HRper'].replace(['0.02112184613631582'], '2.11')
tto_test['HRper'] = tto_test['HRper'].replace(['0.02458792784967191'], '2.45')
tto_test['HRper'] = tto_test['HRper'].replace(['0.02811127489961448'], '2.81')
tto_test['HRper'] = tto_test['HRper'].replace(['0.028764639946537433'], '2.87')

tto_test['BBper'] = tto_test['BBper'].replace(['0.08724780701754385'], '8.72')
tto_test['BBper'] = tto_test['BBper'].replace(['0.08566737739872067'], '8.56')
tto_test['BBper'] = tto_test['BBper'].replace(['0.0884488188976378'], '8.84')
tto_test['BBper'] = tto_test['BBper'].replace(['0.0870599647266314'], '8.70')
tto_test['BBper'] = tto_test['BBper'].replace(['0.08283212996389891'], '8.28')

tto_test['Kper'] = tto_test['Kper'].replace(['0.12660964912280703'], '12.66')
tto_test['Kper'] = tto_test['Kper'].replace(['0.13344562899786783'], '13.34')
tto_test['Kper'] = tto_test['Kper'].replace(['0.15350196850393702'], '15.35')
tto_test['Kper'] = tto_test['Kper'].replace(['0.1656137566137566'], '16.56')
tto_test['Kper'] = tto_test['Kper'].replace(['0.20047111913357402'], '20.04')

In [153]:
tto_test.head()

   HRper BBper   Kper       Years
9   1.94  8.72  12.66   1970-1979
16  2.11  8.56  13.34   1980-1989
0   2.45  8.84  15.35   1990-1999
5   2.81  8.70  16.56   2000-2009
0   2.87  8.28  20.04   2010-2019

In [148]:
years = ['1970-1979',' 1980-1989', '1990-1999', '2000-2009', '2010-2019']

In [154]:
tto_test = tto_test.drop(columns='Years')

In [155]:
tto_test.insert(0, 'Years', years)

In [156]:
tto_test.head()

         Years HRper BBper   Kper
9    1970-1979  1.94  8.72  12.66
16   1980-1989  2.11  8.56  13.34
0    1990-1999  2.45  8.84  15.35
5    2000-2009  2.81  8.70  16.56
0    2010-2019  2.87  8.28  20.04

In [157]:
tto_test.set_index('Years')

           HRper BBper   Kper
Years
1970-1979   1.94  8.72  12.66
 1980-1989  2.11  8.56  13.34
1990-1999   2.45  8.84  15.35
2000-2009   2.81  8.70  16.56
2010-2019   2.87  8.28  20.04

In [158]:
tto_test.head()

         Years HRper BBper   Kper
9    1970-1979  1.94  8.72  12.66
16   1980-1989  2.11  8.56  13.34
0    1990-1999  2.45  8.84  15.35
5    2000-2009  2.81  8.70  16.56
0    2010-2019  2.87  8.28  20.04

In [160]:
tto_test.to_csv('tto_data.csv')

In [161]:
tto_test = tto_test.reset_index(drop=True)

In [162]:
tto_test.head()

        Years HRper BBper   Kper
0   1970-1979  1.94  8.72  12.66
1   1980-1989  2.11  8.56  13.34
2   1990-1999  2.45  8.84  15.35
3   2000-2009  2.81  8.70  16.56
4   2010-2019  2.87  8.28  20.04

In [164]:
tto_test.set_index('Years', inplace=True)

In [165]:
tto_test.head()

           HRper BBper   Kper
Years
1970-1979   1.94  8.72  12.66
 1980-1989  2.11  8.56  13.34
1990-1999   2.45  8.84  15.35
2000-2009   2.81  8.70  16.56
2010-2019   2.87  8.28  20.04

In [166]:
tto = tto_test

In [167]:
tto.to_csv('tto_data.csv')