In [27]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [28]:
from pybaseball import batting_stats

In [29]:
tto_70_75 = batting_stats(1970, 1975, ind=1)

tto_70_75.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_70_75.HR / tto_70_75.PA
BBper = tto_70_75.BBper
Kper = tto_70_75.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_70_75 = df

tto_70_75.HRper = tto_70_75.HRper.mean()
tto_70_75.BBper = tto_70_75.BBper.mean()
tto_70_75.Kper = tto_70_75.Kper.mean()

tto_70_75 = tto_70_75.drop(tto_70_75.index.to_list()[1:], axis = 0)

tto_70_75.head()

      HRper     BBper      Kper
6  0.023604  0.093088  0.120905

In [30]:
tto_76_80 = batting_stats(1976, 1980, ind=1)

tto_76_80.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_76_80.HR / tto_76_80.PA
BBper = tto_76_80.BBper
Kper = tto_76_80.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_76_80 = df

tto_76_80.HRper = tto_76_80.HRper.mean()
tto_76_80.BBper = tto_76_80.BBper.mean()
tto_76_80.Kper = tto_76_80.Kper.mean()

tto_76_80 = tto_76_80.drop(tto_76_80.index.to_list()[1:], axis = 0)

tto_76_80.head()

      HRper     BBper      Kper
2  0.023189  0.088794  0.117529

In [31]:
tto_81_85 = batting_stats(1981, 1985, ind=1)

tto_81_85.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_81_85.HR / tto_81_85.PA
BBper = tto_81_85.BBper
Kper = tto_81_85.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_81_85 = df

tto_81_85.HRper = tto_81_85.HRper.mean()
tto_81_85.BBper = tto_81_85.BBper.mean()
tto_81_85.Kper = tto_81_85.Kper.mean()

tto_81_85 = tto_81_85.drop(tto_81_85.index.to_list()[1:], axis = 0)

tto_81_85.head()

      HRper     BBper     Kper
6  0.023561  0.087754  0.12313

In [32]:
tto_86_90 = batting_stats(1986, 1990, ind=1)

tto_86_90.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_86_90.HR / tto_86_90.PA
BBper = tto_86_90.BBper
Kper = tto_86_90.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_86_90 = df

tto_86_90.HRper = tto_86_90.HRper.mean()
tto_86_90.BBper = tto_86_90.BBper.mean()
tto_86_90.Kper = tto_86_90.Kper.mean()

tto_86_90 = tto_86_90.drop(tto_86_90.index.to_list()[1:], axis = 0)

tto_86_90.head()

      HRper     BBper      Kper
0  0.026128  0.091505  0.137122

In [33]:
tto_91_95 = batting_stats(1991, 1995, ind=1)

tto_91_95.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_91_95.HR / tto_91_95.PA
BBper = tto_91_95.BBper
Kper = tto_91_95.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_91_95 = df

tto_91_95.HRper = tto_91_95.HRper.mean()
tto_91_95.BBper = tto_91_95.BBper.mean()
tto_91_95.Kper = tto_91_95.Kper.mean()

tto_91_95 = tto_91_95.drop(tto_91_95.index.to_list()[1:], axis = 0)

tto_91_95.head()

       HRper    BBper     Kper
47  0.027709  0.09572  0.14001

In [34]:
tto_96_00 = batting_stats(1996, 2000, ind=1)

tto_96_00.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_96_00.HR / tto_96_00.PA
BBper = tto_96_00.BBper
Kper = tto_96_00.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_96_00 = df

tto_96_00.HRper = tto_96_00.HRper.mean()
tto_96_00.BBper = tto_96_00.BBper.mean()
tto_96_00.Kper = tto_96_00.Kper.mean()

tto_96_00 = tto_96_00.drop(tto_96_00.index.to_list()[1:], axis = 0)

tto_96_00.head()

       HRper     BBper      Kper
58  0.033586  0.098058  0.150726

In [35]:
tto_01_05 = batting_stats(2001, 2005, ind=1)

tto_01_05.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_01_05.HR / tto_01_05.PA
BBper = tto_01_05.BBper
Kper = tto_01_05.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_01_05 = df

tto_01_05.HRper = tto_01_05.HRper.mean()
tto_01_05.BBper = tto_01_05.BBper.mean()
tto_01_05.Kper = tto_01_05.Kper.mean()

tto_01_05 = tto_01_05.drop(tto_01_05.index.to_list()[1:], axis = 0)

tto_01_05.head()

      HRper     BBper      Kper
0  0.033001  0.092534  0.150894

In [37]:
tto_06_10 = batting_stats(2006, 2010, ind=1)

tto_06_10.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_06_10.HR / tto_06_10.PA
BBper = tto_06_10.BBper
Kper = tto_06_10.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_06_10 = df

tto_06_10.HRper = tto_06_10.HRper.mean()
tto_06_10.BBper = tto_06_10.BBper.mean()
tto_06_10.Kper = tto_06_10.Kper.mean()

tto_06_10 = tto_06_10.drop(tto_06_10.index.to_list()[1:], axis = 0)

tto_06_10.head()

      HRper     BBper      Kper
7  0.031162  0.092262  0.160377

In [38]:
tto_11_15 = batting_stats(2011, 2015, ind=1)

tto_11_15.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_11_15.HR / tto_11_15.PA
BBper = tto_11_15.BBper
Kper = tto_11_15.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_11_15 = df

tto_11_15.HRper = tto_11_15.HRper.mean()
tto_11_15.BBper = tto_11_15.BBper.mean()
tto_11_15.Kper = tto_11_15.Kper.mean()

tto_11_15 = tto_11_15.drop(tto_11_15.index.to_list()[1:], axis = 0)

tto_11_15.head()

      HRper     BBper      Kper
6  0.029528  0.083622  0.177324

In [39]:
tto_16_21 = batting_stats(2016, 2021, ind=1)

tto_16_21.rename(columns={'BB%':'BBper', 'K%':'Kper'}, inplace=True)

HRper = tto_16_21.HR / tto_16_21.PA
BBper = tto_16_21.BBper
Kper = tto_16_21.Kper

df = pd.DataFrame()

df.insert(0, 'HRper', HRper)
df.insert(1, 'BBper', BBper)
df.insert(2, 'Kper', Kper)

tto_16_21 = df

tto_16_21.HRper = tto_16_21.HRper.mean()
tto_16_21.BBper = tto_16_21.BBper.mean()
tto_16_21.Kper = tto_16_21.Kper.mean()

tto_16_21 = tto_16_21.drop(tto_16_21.index.to_list()[1:], axis = 0)

tto_16_21.head()

      HRper     BBper      Kper
2  0.037945  0.091336  0.200861

In [41]:
tto = pd.concat([tto_70_75, tto_76_80, tto_81_85, tto_86_90, tto_91_95, tto_96_00, tto_01_05, tto_06_10, tto_11_15, tto_16_21])

In [42]:
tto_test = tto

In [46]:
tto_test.HRper.head(50)

6     0.023604
2     0.023189
6     0.023561
0     0.026128
47    0.027709
58    0.033586
0     0.033001
7     0.031162
6     0.029528
2     0.037945
Name: HRper, dtype: float64

In [51]:
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[0]], '2.36')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[1]], '2.31')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[2]], '2.35')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[3]], '2.61')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[4]], '2.77')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[5]], '3.35')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[6]], '3.30')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[7]], '3.11')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[8]], '2.95')
tto_test['HRper'] = tto_test['HRper'].replace([tto_test['HRper'].iloc[9]], '3.79')

In [52]:
tto_test.HRper

6     2.36
2     2.31
6     2.35
0     2.61
47    2.77
58    3.35
0     3.30
7     3.11
6     2.95
2     3.79
Name: HRper, dtype: object

In [50]:
tto_test.BBper.head(50)

6     0.093088
2     0.088794
6     0.087754
0     0.091505
47    0.095720
58    0.098058
0     0.092534
7     0.092262
6     0.083622
2     0.091336
Name: BBper, dtype: float64

In [53]:
tto_test['BBper'] = tto_test['BBper'].replace([tto_test['BBper'].iloc[0]], '9.30')
tto_test['BBper'] = tto_test['BBper'].replace([tto_test['BBper'].iloc[1]], '8.87')
tto_test['BBper'] = tto_test['BBper'].replace([tto_test['BBper'].iloc[2]], '8.77')
tto_test['BBper'] = tto_test['BBper'].replace([tto_test['BBper'].iloc[3]], '9.15')
tto_test['BBper'] = tto_test['BBper'].replace([tto_test['BBper'].iloc[4]], '9.57')
tto_test['BBper'] = tto_test['BBper'].replace([tto_test['BBper'].iloc[5]], '9.80')
tto_test['BBper'] = tto_test['BBper'].replace([tto_test['BBper'].iloc[6]], '9.25')
tto_test['BBper'] = tto_test['BBper'].replace([tto_test['BBper'].iloc[7]], '9.22')
tto_test['BBper'] = tto_test['BBper'].replace([tto_test['BBper'].iloc[8]], '9.36')
tto_test['BBper'] = tto_test['BBper'].replace([tto_test['BBper'].iloc[9]], '9.13')

In [54]:
tto_test.BBper

6     9.30
2     8.87
6     8.77
0     9.15
47    9.57
58    9.80
0     9.25
7     9.22
6     9.36
2     9.13
Name: BBper, dtype: object

In [49]:
tto_test.Kper.head(50)

6     0.120905
2     0.117529
6     0.123130
0     0.137122
47    0.140010
58    0.150726
0     0.150894
7     0.160377
6     0.177324
2     0.200861
Name: Kper, dtype: float64

In [55]:
tto_test['Kper'] = tto_test['Kper'].replace([tto_test['Kper'].iloc[0]], '12.09')
tto_test['Kper'] = tto_test['Kper'].replace([tto_test['Kper'].iloc[1]], '11.75')
tto_test['Kper'] = tto_test['Kper'].replace([tto_test['Kper'].iloc[2]], '12.31')
tto_test['Kper'] = tto_test['Kper'].replace([tto_test['Kper'].iloc[3]], '13.71')
tto_test['Kper'] = tto_test['Kper'].replace([tto_test['Kper'].iloc[4]], '14.00')
tto_test['Kper'] = tto_test['Kper'].replace([tto_test['Kper'].iloc[5]], '15.07')
tto_test['Kper'] = tto_test['Kper'].replace([tto_test['Kper'].iloc[6]], '15.08')
tto_test['Kper'] = tto_test['Kper'].replace([tto_test['Kper'].iloc[7]], '16.03')
tto_test['Kper'] = tto_test['Kper'].replace([tto_test['Kper'].iloc[8]], '17.73')
tto_test['Kper'] = tto_test['Kper'].replace([tto_test['Kper'].iloc[9]], '20.08')

In [57]:
tto_test

   HRper BBper   Kper
6   2.36  9.30  12.09
2   2.31  8.87  11.75
6   2.35  8.77  12.31
0   2.61  9.15  13.71
47  2.77  9.57  14.00
58  3.35  9.80  15.07
0   3.30  9.25  15.08
7   3.11  9.22  16.03
6   2.95  9.36  17.73
2   3.79  9.13  20.08

In [60]:
years = ['1970-1975', '1976-1980', '1981-1985', '1986-1990', '1991-1995', '1996-2000', '2001-2005', '2006-2010', '2011-2015', '2016-2021']

In [61]:
tto_test.insert(0, 'Years', years)

In [62]:
tto_test.head()

        Years HRper BBper   Kper
6   1970-1975  2.36  9.30  12.09
2   1976-1980  2.31  8.87  11.75
6   1981-1985  2.35  8.77  12.31
0   1986-1990  2.61  9.15  13.71
47  1991-1995  2.77  9.57  14.00

In [63]:
tto_test.set_index('Years')

          HRper BBper   Kper
Years
1970-1975  2.36  9.30  12.09
1976-1980  2.31  8.87  11.75
1981-1985  2.35  8.77  12.31
1986-1990  2.61  9.15  13.71
1991-1995  2.77  9.57  14.00
1996-2000  3.35  9.80  15.07
2001-2005  3.30  9.25  15.08
2006-2010  3.11  9.22  16.03
2011-2015  2.95  9.36  17.73
2016-2021  3.79  9.13  20.08

In [64]:
tto_test.head()

        Years HRper BBper   Kper
6   1970-1975  2.36  9.30  12.09
2   1976-1980  2.31  8.87  11.75
6   1981-1985  2.35  8.77  12.31
0   1986-1990  2.61  9.15  13.71
47  1991-1995  2.77  9.57  14.00

In [68]:
tto_test = tto_test.reset_index(drop=True)

In [69]:
tto_test.head()

       Years HRper BBper   Kper
0  1970-1975  2.36  9.30  12.09
1  1976-1980  2.31  8.87  11.75
2  1981-1985  2.35  8.77  12.31
3  1986-1990  2.61  9.15  13.71
4  1991-1995  2.77  9.57  14.00

In [70]:
tto_test.set_index('Years', inplace=True)

In [71]:
tto_test.head()

          HRper BBper   Kper
Years
1970-1975  2.36  9.30  12.09
1976-1980  2.31  8.87  11.75
1981-1985  2.35  8.77  12.31
1986-1990  2.61  9.15  13.71
1991-1995  2.77  9.57  14.00

In [66]:
tto = tto_test

In [67]:
tto.to_csv('tto_data.csv')