In [6]:
import pandas as pd
from pybaseball import batting_stats
pd.set_option('display.max_columns', None)

Tallying up stolen bases from 1970-1975

In [8]:
data_70_75 = batting_stats(1970, 1975)

In [10]:
data_70_75_SB = data_70_75.SB.sum()

In [11]:
data_70_75_SB

8138

Tallying up stolen bases from 1976-1980

In [12]:
data_76_80 = batting_stats(1976, 1980)

In [16]:
data_76_80_SB = data_76_80.SB.sum()

In [17]:
data_76_80_SB

10067

Tallying up stolen bases from 1981-1985

In [19]:
data_81_85 = batting_stats(1981, 1985)

In [21]:
data_81_85_SB = data_81_85.SB.sum()

In [22]:
data_81_85_SB

8860

Tallying up stolen bases from 1986-1990

In [23]:
data_86_90 = batting_stats(1986, 1990)

In [24]:
data_86_90_SB = data_86_90.SB.sum()

In [25]:
data_86_90_SB

9666

Tallying up stolen bases from 1991-1995

In [26]:
data_91_95 = batting_stats(1991, 1995)

In [27]:
data_91_95_SB = data_91_95.SB.sum()

In [28]:
data_91_95_SB

8991

Tallying up stolen bases from 1996-2000

In [29]:
data_96_00 = batting_stats(1996, 2000)

In [30]:
data_96_00_SB = data_96_00.SB.sum()

In [31]:
data_96_00_SB

10172

Tallying up stolen bases from 2001-2005

In [32]:
data_01_05 = batting_stats(2001, 2005)

In [33]:
data_01_05_SB = data_01_05.SB.sum()

In [34]:
data_01_05_SB

8376

Tallying up stolen bases from 2006-2010

In [35]:
data_06_10 = batting_stats(2006, 2010)

In [36]:
data_06_10_SB = data_06_10.SB.sum()

In [37]:
data_06_10_SB

8771

Tallying up stolen bases from 2011-2015

In [41]:
data_11_15 = batting_stats(2011, 2015)

In [42]:
data_11_15_SB = data_11_15.SB.sum()

In [43]:
data_11_15_SB

7737

Tallying up stolen bases from 2016-2021

In [44]:
data_16_21 = batting_stats(2016, 2021)

In [45]:
data_16_21_SB = data_16_21.SB.sum()

In [46]:
data_16_21_SB

6674

Gathering all the stolen base data into a dataframe and turning it into a csv

In [48]:
SB_data = {'Year':['1970-75', '1976-80', '1981-85', '1986-90', '1991-95', '1996-00', '2001-05', '2006-10', '2011-15', '2016-21'],
    'Stolen Bases': [data_70_75_SB, data_76_80_SB, data_81_85_SB, data_86_90_SB, data_91_95_SB, data_96_00_SB, data_01_05_SB, data_06_10_SB, data_11_15_SB, data_16_21_SB]}

In [49]:
SB_data = pd.DataFrame(data=SB_data)

In [51]:
SB_data.head(50)

      Year  Stolen Bases
0  1970-75          8138
1  1976-80         10067
2  1981-85          8860
3  1986-90          9666
4  1991-95          8991
5  1996-00         10172
6  2001-05          8376
7  2006-10          8771
8  2011-15          7737
9  2016-21          6674

In [52]:
SB_data.to_csv('SB_data.csv')