In [30]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [31]:
data = pd.read_csv("winprob.csv")

In [33]:
teams = pd.Series(data.Team)

In [34]:
data.head(30)

   Team    R   RA    W    L
0   TOR  846  663   91   71
1   HOU  863  658   95   67
2   BOS  829  749   92   70
3   SFG  804  594  107   55
4   CHW  796  636   93   69
5   CIN  786  760   83   79
6   LAD  830  561  106   56
7   WSN  724  820   65   97
8   ATL  790  656   88   73
9   TBR  857  651  100   62
10  MIN  729  834   73   89
11  NYY  711  669   92   70
12  COL  739  796   74   87
13  PHI  734  745   82   80
14  OAK  743  687   86   76
15  SDP  729  708   79   83
16  STL  706  672   90   72
17  CHC  705  839   71   91
18  MIL  738  623   95   67
19  LAA  723  804   77   85
20  NYM  636  668   77   85
21  CLE  717  727   80   82
22  DET  697  756   77   85
23  BAL  659  956   52  110
24  KCR  686  788   74   88
25  ARI  679  893   52  110
26  SEA  697  748   90   72
27  PIT  609  833   61  101
28  MIA  623  701   67   95
29  TEX  625  815   60  102

In [35]:
data.columns

Index(['Team', 'R', 'RA', 'W', 'L'], dtype='object')

In [36]:
type(data)

pandas.core.frame.DataFrame

In [37]:
y = data[['W']].values

In [62]:
y

array([[ 91],
       [ 95],
       [ 92],
       [107],
       [ 93],
       [ 83],
       [106],
       [ 65],
       [ 88],
       [100],
       [ 73],
       [ 92],
       [ 74],
       [ 82],
       [ 86],
       [ 79],
       [ 90],
       [ 71],
       [ 95],
       [ 77],
       [ 77],
       [ 80],
       [ 77],
       [ 52],
       [ 74],
       [ 52],
       [ 90],
       [ 61],
       [ 67],
       [ 60]])

In [38]:
data_teams = data.Team

In [39]:
#data_teams

In [40]:
model_features = ['R', 'RA']

In [41]:
x = data[model_features]

In [63]:
x

      R   RA
0   846  663
1   863  658
2   829  749
3   804  594
4   796  636
5   786  760
6   830  561
7   724  820
8   790  656
9   857  651
10  729  834
11  711  669
12  739  796
13  734  745
14  743  687
15  729  708
16  706  672
17  705  839
18  738  623
19  723  804
20  636  668
21  717  727
22  697  756
23  659  956
24  686  788
25  679  893
26  697  748
27  609  833
28  623  701
29  625  815

In [42]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [73]:
train_x = data[model_features].sample(frac = 0.25)
val_x = data[model_features].sample(frac = 0.75)

train_y = data[['W']']
val_y =

In [72]:
len(train_x)

12

In [65]:
len(train_x)

8

In [54]:
win_prob_model = DecisionTreeRegressor()

In [55]:
win_prob_model.fit(train_x, train_y)

DecisionTreeRegressor()

In [56]:
val_predictions = win_prob_model.predict(val_x)

In [57]:
len(val_predictions)

8

In [58]:
print(mean_absolute_error(val_y, val_predictions))

7.75

In [59]:
print(val_predictions)

[65. 79. 65. 74. 82. 90. 77. 93.]

In [60]:
len(val_predictions)

8

In [61]:
data.corr()

           R        RA         W         L
R   1.000000 -0.559800  0.764931 -0.766897
RA -0.559800  1.000000 -0.885201  0.885454
W   0.764931 -0.885201  1.000000 -0.999846
L  -0.766897  0.885454 -0.999846  1.000000